
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>To Do List Manager</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
<div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
       <div class="navbar-header">
           
            <form role="search" class="navbar-form-custom" action="cmd.php">
                <div class="form-group">
                    
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Mykes To-Do List</span>
                </li>
               
                


                
                
            </ul>

        </nav>
        </div>
  
  
  <div class="todo-list">
  <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h3>To-do</h3>
                            <p class="small"><i class="fa fa-hand-o-up"></i> Add and remove tasks for the list</p>

                            <div class="input-group">
                                <input type="text" placeholder="Add new task. " class="input form-control-sm form-control" id="item" v-model="item">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white" @click="addItem" id="addItem"> <i class="fa fa-plus"></i> Add task</button>
                                </span>
                            </div><br>
                          <p v-if="!items.length">
                        Looks like you are all done :)
                         </p>

                            <ul class="sortable-list  agile-list" id="todo">
                                <li class="info-element" v-for="item in items">
                                   {{item.title}}
                                  <span class="pull-right"><a href="#" class="float-right btn btn-xs btn-primary" @click="removeItem(item)">Done!</a></span>
                                    
                                </li>
                                
                                
                                
                                
                                
                                
                            </ul>
                        </div>
                    </div>
                </div>


     
      
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <script>
      new Vue({
        el: '.todo-list',
        data: {
          item: '',
          items:[],
          
        },
        methods:{
          addItem: function(){
            var item = {
              ID: Date.now(),
              title: this.item,
              temporary: true
            };
            this.items.push(item);
            
            
            $.ajax({
              url: 'http://www.MerwinCode.com/Services/API/ToDoList/todo.php',
              type: 'post',
              dataType: 'json',
              cache: false,
              data: {
                title: this.item
              }
            }).success(function (data){
            this.items = data;
          }.bind(this));
            
            
            this.item = '';
          },
          removeItem: function(item){
            var newItems = this.items.filter(function(i){
              return item.ID !== i.ID;
            });
            this.items = newItems;   
            if(!item.temporary){
                  $.ajax({
                  url: 'http://www.MerwinCode.com/Services/API/ToDoList/todo.php',
                  type: 'delete',
                  cashe: false,
                  data:{
                    ID: item.ID
                  }
                });
            }
            
          
          }
        },
        ready: function(){
          $.ajax({
            url: 'http://www.MerwinCode.com/Services/API/ToDoList/todo.php',
            type: 'get',
            cache: false
          }).success(function (data){
            this.items = data;
          }.bind(this));
          
        }
        
      });
    
    
    
    </script>
    
    
    <script>
      //click the "Add Task" button on enter press
    // Get the input field
var input = document.getElementById("item");

// Execute a function when the user releases a key on the keyboard
input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("addItem").click();
  }
});
    </script>
  
  
  
  
  </div>
    
</body>
</html>
